.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto 0;
    top: 0; left: 12px; bottom: 0; right: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    outline: 3px solid rgba(0, 0, 0, 0.3)
}

.widget img {
    display: block;
    width: 30px;
    width: 30px;
}

.widget:hover {
    background-color: rgb(177, 177, 177);
}

.active_widget {
    background-color: rgb(187, 187, 187);
}

.active_widget:hover {
    background-color: rgb(177, 177, 177);
}